---
development:
  YPBT_API: 'http://localhost:9292/api/v0.1'
  YOUTUBE_API_KEY: 'secret key'

test:
  YPBT_API: 'http://localhost:9292/api/v0.1'
  SECRET: 'secret key'

production:
  YPBT_API: 'https://my-server.com/api/v0.1'
  SECRET: 'secret key'
