#search-bar-container
{
    padding:6px;
    background-color:rgb(230,230,230);
    border-radius: 4px;
    margin-bottom: 6px;
}


.title-style:link
{
  text-decoration: none;
  color: black
}

.title-style:hover
{
  text-decoration: none;
  color: black
}

.hover-highlight:link
{
  text-decoration: none;
}

.hover-highlight:hover
{
  text-decoration: none;
  text-shadow: 1px 1px 10px yellow;
}

.logo-addon
{
    background-color: inherit;
    border: 0px;
    padding: 0px;
    padding-right: 6px;
}

.search-input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.content-container{
    margin-top: 6px;
    padding:6px;
    background-color:rgb(240,240,240);
    border-radius: 4px;
    margin-bottom: : 6px;
}
.tag-point {
    border-radius: 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 0;
}
.tag-bar {
    height:16px;
    margin-top: 6px;
    margin-bottom: 23px;
    position: relative;
    background-color:rgb(217,217,217);
}
.tag-point:hover {
    background-color: rgb(255,20,20)!important;;
}
.add-point {
    border-radius: 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 1;
}
.add-point:hover
{
  cursor: pointer;
  cursor: hand;
}
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!)*/
}
.tag-detail{
    width: 300px;
}

img.like_count:hover
{
  cursor: pointer;
  cursor: hand;
}

.gray {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.add-tag-form{
    width: 300px;
}
#tag-bar-loading
{
  width: 2%;
  height: 16px;
  background-color: rgb(255,20,20)!important;;
  position: absolute;

  -webkit-animation-name: back_and_forth;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: back_and_forth;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes back_and_forth
{
  0%   {left:0%; top:0%;}
  50%  {left:49%; top:0%;}
  100%  {left:98%; top:0%;}
}
@keyframes back_and_forth
{
  0%   {left:0%; top:0%;}
  50%  {left:49%; top:0%;}
  100%  {left:98%; top:0%;}
}

.add-point {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  background: transparent;
}
.add-point:hover{
    -webkit-animation-name: add-point-hover ;
    animation-name: add-point-hover;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.pin {
  width: 100%;
  height: 100%;
  border-radius: 50% 0% 50% 50%;
  background: #FF9F9F;
  position: absolute;
  transform: rotate(-45deg);
}
.cross {
   width: 60%;
   height: 60%;
    top: 20%;
    left: 20%;
   position: relative;
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  z-index: 0;
  background: #FFEFEF;
}

.cross:before {
  left: 50%;
  width: 40%;
  margin-left: -20%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 40%;
  margin-top: -20%;
  width: 100%;
}

@keyframes add-point-hover{
    0%   {top:20px;}
    25%  {top:17px;}
    50%  {top:20px;}
    75%  {top:23px;}
    100%  {top:20px;}
}

.video-padding {
   padding: 5px !important;
   margin: 0 !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
