#search-bar-container
{
    padding:6px;
    background-color:rgb(230,230,230);
    border-radius: 4px;
    margin-bottom: 6px;
}


.title-style:link
{
  text-decoration: none;
  color: black
}

.title-style:hover
{
  text-decoration: none;
  color: black
}

.hover-highlight:link
{
  text-decoration: none;
}

.hover-highlight:hover
{
  text-decoration: none;
  text-shadow: 1px 1px 10px yellow;
}

.logo-addon
{
    background-color: inherit;
    border: 0px;
    padding: 0px;
    padding-right: 6px;
}

.search-input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.content-container{
    margin-top: 6px;
    padding:6px;
    background-color:rgb(240,240,240);
    border-radius: 4px;
    margin-bottom: : 6px;
}
.tag-point {
    border-radius: 16px;
    width: 16px;
    height: 16px;
    position: absolute;
}
.tag-bar {
    height:16px;
    margin-top: 6px;
    margin-bottom: 6px;
    position: relative;
    background-color:rgb(217,217,217);
}

.tag-point:hover {
    background-color: rgb(255,20,20)!important;;
}
.popover{
    max-width: 100%; // Max Width of the popover (depending on the container!)
}
.tag-detail{
    width: 300px;
}
